meta(name='viewport', content='width=device-width, initial-scale=1')

// css
link(rel='stylesheet', href='/dist/css/bundle.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

// javascript
script(src='https://www.gstatic.com/firebasejs/4.0.0/firebase.js')
//script(src='/dist/js/bundle.min.js')

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js')
script(src='/src/js/login.js')
script(src='/src/js/modal.js')
script(src='/src/js/sidenav.js')