body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .fixed-action-btn {
    bottom: 44px;
    display: none;
  }
}

main {
  flex: 1 0 auto;
  padding-top: 12px;

  a {
    &:hover {
      text-decoration: underline;

      &.btn {
        text-decoration: none;
      }
    }
  }
}

nav {
  .sidenav-trigger {
    cursor: pointer;
  }
}

footer {
  padding: 12px;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

form {
  a {
    &.btn-floating {
      position: relative;
      top: 16px;
      cursor: pointer;
    }

    &.btn {
      cursor: pointer;
    }
  }

  .file-field .btn {
    float: none;
  }

  .file.progress {
    display: none;
    margin-top: 12px;
  }

  .recipe-image {
    display: none;
    max-width: 100%;
  }

  #new-recipe-save {
    margin-right: 4px;
  }

  .recipe-btn {
    width: 128px;
    text-align: center;
  }
}

.preloader-wrapper {
  display: none;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 999;
}

.card {
  margin-left: 4px;
  margin-right: 4px;
  .card-image-overflow {
    overflow: hidden;
    height: 250px;
    margin: 0;

    img {
      width: 100%;
      //margin-top: -25%;
    }
  }
}

.recipe-ingredients {
  padding-left: 24px;
}

.recipe-author {
  font-weight: bold;
}

.recipe-image:not(.active) {
  max-width: 100%;
  margin-top: 1.9466666667rem;
}

.signout-btn,
.account-btn {
  display: none;
}

.swal-modal {
  select {
    display: block;
  }
}
