doctype html
html
  head
    title Recipe Studio
    include components/modules

  body
    include components/header

    block content        

    include components/footer

    include modals/new-recipe-modal.pug
    //include modals/edit-recipe-modal.pug