extends layout

block content
    main
        .container
            .row
                .col.s12.center-align
                    h4 Log In
                    p Enter your email and password below to log in.
            .row
                .col.s12.m8.offset-m2
                    form
                        .row
                            .input-field.col.s12
                                input.validate(type="email", id="user-email", required="true")
                                label.active(for="user-email") Email
                            .input-field.col.s12
                                input.validate(type="password", id="user-pass", required="true")
                                label.active(for="user-pass") Password
                        .row
                            .col.s12.center-align
                                a.waves-effect.waves-light.btn.login-form-btn Log In