extends layout

block content
    main
        .container
            .row
                .col.s12.center-align
                    h4 Log Out
                    p You have been logged out.
    script(src="/src/js/logout.js")