// css
link(rel='stylesheet', href='/css/bundle.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

// javascript
script(src='https://www.gstatic.com/firebasejs/4.0.0/firebase.js')
script(src='/js/bundle.min.js')