extends layout

block content

    main
        div.container(style="display:none")
            h3.recipe-name
            p.recipe-author
            p.recipe-date

            h4 Ingredients:
            ul.recipe-ingredients

            h4 Directions:
            p.recipe-directions

    .recipe-id(data-recipe-id= recipeid)
    script(src='/src/js/recipe.js')

    include modals/new-recipe-modal