extends layout

block content
    main
        .container
            .row
                .col.s12.center-align
                    h4 Sign Up
                    p Enter your personal details below to create a new account.
            .row
                .col.s12.m8.offset-m2
                    .signup.form
                        .row
                            .input-field.col.s12
                                input.validate(type="text", id="username", required="true")
                                label.active(for="user-name") Display Name
                            .input-field.col.s12
                                input.validate(type="email", id="email", required="true")
                                label.active(for="email") Email
                                span.helper-text(data-error="Please enter a valid email")
                            .input-field.col.s12
                                input.validate(type="password", id="password", required="true")
                                label.active(for="password") Password
                            .input-field.col.s12
                                input.validate(type="password", id="password-confirm", required="true")
                                label.active(for="password-confirm") Confirm Password
                                span.helper-text.conf-pass(data-error="Passwords do not match")
                        .row
                            .col.s12.center-align
                                a.waves-effect.waves-light.btn.disabled.signup-form-btn Sign Up