extends ../layout

block content
    main
        .container(style="display:none")
            h3 User Profile
            h4
                span.user-name
                | 's Recipes

            .recipe-container
    
    .user-id(data-user-id= userId)

    script(src='/src/js/user-profile.js')