extends ../layout

block content
    main
        .container
            h3 User Profile
            p= userId

            h4
                span.user-name
                | 's Recipes

            .recipe-container


    script(src='/src/js/profile.js')