extends layout
block content
    main
        .container
            .row
                .col.s12
                    h4 Email Verification
                    p Please click the link in the email from noreply@recipe.studio to verify your new account.

            .row
                .col.s12
                    p
                        i No email yet? 
                            a(href="#" id="verifyEmail") Click here
                        |  to get a new verification email.
