extends ../layout

block content
    main
        .container(style="display:none")
            .row
                .col.s12.l6.xl5.right
                    img.recipe-image
                .col.s12.l6.xl7.left
                    h3.recipe-name
                    div
                        | Recipe by 
                        a.recipe-author-link
                            span.recipe-author
                        br
                        | Created on 
                        span.recipe-date

                    h4 Summary
                    p.recipe-description

                    h4 Ingredients
                    ul.browser-default.recipe-ingredients
            .row
                .col.s12
                    h4 Directions
                    p.recipe-directions
    
    .fixed-action-btn
        a.btn-floating.btn-large.red.modal-trigger(id="edit-recipe-btn", href="#edit-recipe")
            i.large.material-icons edit
        ul
            li
                a.btn-floating.red(id="delete-recipe-btn")
                    i.material-icons delete

    //include modals/edit-recipe-modal

    .recipe-author-id(data-author-id="")
    .recipe-id(data-recipe-id= recipeid)
    script(src='/src/js/recipe.js')