extends ../layout

block content
    main
        .container
            .row
                .col.s12.center-align
                    h4 New Recipe
                    p Fill out the form below to create your recipe.
            .row
                .col.s12.m8.offset-m2
                    form
                        .row
                            .input-field.col.s12.m6
                                input.validate(type="text", id="name")
                                label(for="name") Recipe Name
                            .input-field.col.s12.m6
                                textarea.materialize-textarea(id="description")
                                label(for="description") Description
                        .row
                            .col.s12
                                ul.ingredients-container.collection.with-header
                                    li.collection-header 
                                        h6 Ingredients
                        // replace this with a modal later
                        .row.add-ingredient
                            .col.s11
                                .row
                                    .input-field.col.s12.m6
                                        input.autocomplete(type="text", id="ingredients-selector")
                                        label(for="ingredients-selector") Add ingredient...
                                    .input-field.col.s12.m3
                                        input.validate(type="text", id="ingredient-quantity")
                                        label(for="ingredient-quantity") Amount
                                    .input-field.col.s12.m3
                                        input.validate(type="text", id="ingredient-units")
                                        label(for="ingredient-units") Units
                                    input(type="hidden", id="ingredient-id")
                            .col.s1
                                a.btn-floating.btn.waves-effect.waves-light(id="add-ingredient-btn")
                                    i.material-icons add
                        .row
                            .input-field.col.s12
                                textarea.materialize-textarea(id="directions")
                                label(for="directions") Directions
                        .row
                            .col.s12.center-align
                                a.waves-effect.waves-light.btn(id="new-recipe-save") Save
                                a.waves-effect.waves-light.btn Cancel

    script(src="/src/js/new-recipe.js")